#volume{
    transform: rotate(270deg);
}
:root {
    --clip-time-path: polygon("0 0, 0 0, 0 100%, 0 100%");
    --clip-seek-path: polygon("0 0, 0 0, 0 100%, 0 100%");
}
body {
    height:100%;
    padding: 10vh;
    margin: 0;
}
.player-wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:10vh;
}
.viz-wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
}
#trapnation-canvas{
    width:100%;
    fill: grey;
    stroke: black;
}
.wrapper div{
    width:100%;
}
.waveform-time {
    clip-path: var(--clip-time-path);
    fill: rgba(50,145,200,0.3);
}
.waveform-seek {
    clip-path: var(--clip-seek-path);
    fill: rgba(50,145,200,0.3);
}